@font-face {
  font-family: titleFont;
  src: url('fonts/good\ times\ rg.otf') format('opentype');
}

body {
  background: blue;
}

.title {
  grid-area: header;
  text-align: center;
  font-family: titleFont;
  background-color: lightgray;
  font-size: 100px;
  margin-top: 50px;
  
  border: solid;
  border-style: ridge;
  border-color: lightgray;
  border-width: 10px;
}

.title_image {
  width: 100px;
}

.maincontain {
  width: 70%;
  height: 100vh;
  margin: auto;
  background: lightgray;
  border-style: outset;
  display: grid;
  grid-template-rows: 200px 90px;
  grid-template-areas: 
    "header header header"
    "content content content"
    "content content content"
    "content content content";
}

.content {
  grid-area: content;
  background-color: lightgray;

  display: grid;
  grid-template-rows: 200px 90px;
  grid-template-areas: 
    "news projects projects projects"
    "news media media media"
    "talkspace talkspace talkspace talkspace";

  min-height: 0;
  min-width: 0;
} 

.news {
  grid-area: news;

  border: solid;
  border-style: ridge;
  border-color: lightgray;
  border-width: 10px;

  overflow: auto;
  min-width: 0;

}

.projects {
  grid-area: projects;

  border: solid;
  border-style: ridge;
  border-color: lightgray;
  border-width: 10px;
  
  overflow: auto;
  min-width: 0;
}

.media {
  grid-area: media;

  border: solid;
  border-style: ridge;
  border-color: lightgray;
  border-width: 10px;

  overflow: auto;
  min-width: 0;
}

.talkspace {
  grid-area: talkspace;

  border: solid;
  border-style: ridge;
  border-color: lightgray;
  border-width: 10px;

  overflow: auto;
  min-width: 0;
}

.header {
  font-family: titleFont;
  margin-left: 10px;
}

.sub-content {
  margin: 10px;
}




