body {
  background: blue;
}

h1 {
  text-align: center;
}

.maincontain {
  width: 70%;
  height: 100vh;
  margin: auto;
  background: grey;
}

.nav {
  background-color: grey;
  text-align: center;
}

.nav a {
  text-align: center;
  padding: 22px;
  text-decoration: none;
  font-size: 26px;
}

.nav a:hover {
  background-color: black;
}

